.page {
  display: grid;
  grid-template-columns: minmax(320px, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
  min-height: 100vh;
  background-color: var(--primary-background);
  font-family: $primary-font-family;
  font-style: normal;
  transition: background-color .3s linear;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
