.intro__promo-image{
  position: sticky;
  top: 94px;
  z-index: 1;
  display: block;
  width: 440px;
  height: 300px;
  margin: 0;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: $primary-background;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
}
