.menu__navigation-link {
  display: block;
  padding: 14px 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
  text-decoration: none;
  transition: .3s;
  &:hover {
    opacity: var(--reduced-opacity);
  }
}
