$base-indent: 120px;



$primary-font-family: 'Inter', 'Arial', sans-serif;
$primary-color: #151515;
$secondary-color: #222222;
$primary-background: #f4f4f4;
$secondary-background: #efefef;


$subscription-border: #c7c7c7;


$icon-theme-light: url(../images/icons/icon-sun-light.svg);
$icon-theme-dark: url(../images/icons/icon-crescent-light.svg);


$separator-border: 1px solid #e3e3e3;

$breakpoint-large: 1199px;
$breakpoint-medium: 991px;



$breakpoint-extra-small: 575px;
