.surfaces__container {
  display: grid;
  row-gap: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: $breakpoint-medium) {
  .surfaces__container {
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    @include section-border;
  }
}
