.quote__image {
  grid-row: 1/3;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: $breakpoint-extra-small) {
  .quote__image {
    grid-row: auto;
  }
}
