.quote__text {
  max-width: 470px;
  margin: 0;
  font-size: 34px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: $primary-color;
}

@media screen and (max-width: $breakpoint-extra-large) {
  .quote__text {
    font-size: 30px;
    line-height: 39px;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .quote__text {
    font-size: 26px;
    line-height: 34px;
  }
}

@media screen and (max-width: $breakpoint-extra-small) {
  .quote__text {
    font-size: 23px;
    line-height: 29px;
  }
}
