.quote__author-subline {
  margin: 6px 0 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: var(--secondary-color);
  transition: color .3s linear;
  opacity: .7;
}

@media screen and (max-width: $breakpoint-extra-large) {
  .quote__author-subline {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .quote__author-subline {
    font-size: 12px;
    line-height: 20px;
  }
}


@media screen and (max-width: $breakpoint-extra-small) {
  .quote__author-subline {
    margin: 4px 0 0;
    font-size: 10px;
    line-height: 16px;
  }
}
