.intro__container {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto auto 1fr;
  gap: 50px;
  padding-top: 20px;
  padding-right: 0;
}

@media screen and (max-width: $breakpoint-extra-large) {
  .intro__container {
    gap: 50px 0;
  }
}

@media screen and (max-width: $breakpoint-large) {
  .intro__container {
    gap: 40px 0;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .intro__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
}
