.intro {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(../images/section-intro-image.jpg);
  background-position: right 20px;
  background-repeat: no-repeat;
  background-size: 610px;
}
