.section__container {
  position: relative;
}

@media screen and (max-width: $breakpoint-medium) {
  .section__container {
    &::before{
      position: absolute;
      top: 40px;
      right: 18px;
      left: 18px;
      content: '';
      display: block;
      border-top: $separator-border;
    }
  }
}
