.surfaces__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  border: 0;
  background-color: #ebebeb;
  cursor: pointer;
  &::before {
    content: '';
    display: block;
    width: 19px;
    height: 10px;
    background-color: transparent;
    background-image: $icon-arrow;
    background-position: center;
    background-size: contain;
  }
}

@media screen and (max-width: $breakpoint-extra-small) {
  .surfaces__button {
    width: 24px;
    height: 24px;
  }
}
