.header__navigation-link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: all .3s;
  &:hover {
    opacity: var(--reduced-opacity);
  }
}
