:root {
  --primary-color: #fff;
  --primary-reverse-color: #fff;
  --secondary-color: #e5e5e5;
  --primary-background: #333;
  --secondary-background: #2f2f2f;
  --promo-caption-border: #707070;
  --shadow-hover-opacity: .55;
  --reduced-opacity: .65;
  --surfaces-button-background: #434343;
  --switcher-slider-background: #545454;
  --icon-theme-light: url(../images/icons/icon-sun-dark.svg);
  --icon-theme-dark: url(../images/icons/icon-crescent-dark.svg);
  --footer-copyright-color: #565656;
  --footer-logo-image: url(../images/logos/footer-logo-light.svg);
  --arrow-icon: url(../images/icons/icon-arrow-light.svg);
}

@media screen and (max-width: 991px) {
  :root {
    --primary-reverse-color: #151515;
  }
}
