.training__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto 1fr;
  row-gap: 50px;
  column-gap: 160px;
  padding-top: 150px;
  padding-bottom: 120px;
}

@media screen and (max-width: $breakpoint-extra-large) {
  .training__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .training__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 60px;
    @include section-border;
  }
}
