.surfaces__navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  width: 120px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: $breakpoint-medium) {
  .surfaces__navigation {
    grid-column: 1;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
  }
}

@media screen and (max-width: $breakpoint-extra-small) {
  .surfaces__navigation {
    column-gap: 10px;
    width: 58px;
  }
}
