/* Font */

$primary-font-family: 'Inter', 'Arial', sans-serif;

/* Shadow */

$primary-link-shadow: 0px 20px 140px rgba(0, 0, 0, .06);
$primary-hover-shadow: 0px 20px 140px rgba(0, 0, 0, var(--shadow-hover-opacity));

/* Background */

$primary-background: #f4f4f4;

/* Breakpoints */

$breakpoint-extra-large: 1399px;
$breakpoint-large: 1199px;
$breakpoint-medium: 991px;
$breakpoint-small: 767px;
$breakpoint-extra-small: 575px;

/* Legacy */

$primary-color: #151515;
$secondary-color: #222222;
$primary-border: 1px solid #e3e3e3;
